<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img [src]="user.avatar_url" alt="">
                </div>
            </div>
            <div class="col-md-5">
                <div class="profile-head">
                    <h5>
                        {{user.name}}
                    </h5>
                    <h6 class="text-muted">
                        {{user.bio}}
                    </h6>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" role="tab"
                                aria-selected="true">Repositories</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <button *ngIf="searchProfileActive" (click)="goBackToMyProfile()" class="btn btn-sm btn-info">Go back to
                    my profile</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <h6>Followers: <span class="badge badge-info">{{user.followers}}</span></h6>
                    <h6>Following: <span class="badge badge-info">{{user.following}}</span></h6>
                    <h6 *ngIf="user.location">Location: <span class="badge badge-info">{{user.location}}</span></h6>
                    <h6>Public Repos: <span class="badge badge-info">{{user.public_repos}}</span></h6>
                </div>
                <div class="input-group input-group-sm mb-3">
                    <div class="input-group-prepend">
                        <button (click)="searchForUser(searchUser)" class="btn btn-outline-secondary search-for-user"
                            type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </div>
                    <input type="text" [(ngModel)]="searchUser.username" [ngModelOptions]="{standalone: true}"
                        class="form-control" aria-label="Small" placeholder="Search user"
                        aria-describedby="inputGroup-sizing-sm">

                </div>
            </div>
            <div class="col-md-8">
                <div *ngIf="user.gitRepos.length != 0" class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <ul class="list-group">
                            <a *ngFor="let repo of user.gitRepos" href="{{repo.html_url}}"
                                class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">{{repo.name}}
                                <span class="badge badge-primary badge-pill">{{repo.full_name}}</span></a>

                        </ul>
                    </div>
                </div>
                <div *ngIf="user.gitRepos.length == 0">User has no repositories!</div>
            </div>
        </div>
    </form>
</div>

<div *ngIf="!loaded" class="container">
    <app-loading></app-loading>
</div>


<router-outlet></router-outlet>