<div *ngIf="isLoaded && isAuthenticated" class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">
                    <img [src]="user.avatar_url" alt="">
                </div>
            </div>
            <div class="col-md-5">
                <div class="profile-head">
                    <h5>
                        {{user.login}}
                    </h5>
                    <h6 class="text-muted">
                        {{user.bio}}
                    </h6>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" role="tab"
                                aria-selected="true">Repositories</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-2">
                <button mat-raised-button *ngIf="searchProfileActive" (click)="goBackToMyProfile()">Go back to
                    my profile</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <h5><span>{{user.name}}</span></h5>
                    <br />
                    <h6>Followers: <span class="badge badge-info">{{user.followers}}</span></h6>
                    <h6>Following: <span class="badge badge-info">{{user.following}}</span></h6>
                    <h6 *ngIf="user.location">Location: <span class="badge badge-info">{{user.location}}</span></h6>
                    <h6>Public Repos: <span class="badge badge-info">{{user.public_repos}}</span></h6>
                    <button mat-raised-button *ngIf="!searchProfileActive" (click)="logout()">Logout</button>
                </div>
                <br />
                <br />
                <div class="input-group input-group-sm mb-3">
                    <form class="search-form" [formGroup]='searchForm'>
                        <mat-form-field class="search-full-width">
                            <input matInput placeholder="Search user" [matAutocomplete]="auto"
                                formControlName='usernameInput'>
                        </mat-form-field>

                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                            <mat-option *ngIf="isLoading" class="is-loading">
                                <mat-spinner diameter="50"></mat-spinner>
                            </mat-option>
                            <ng-container *ngIf="!isLoading">
                                <mat-option *ngFor="let autoComplete of autoCompleteList"
                                    [value]="autoComplete.searchedUsername">
                                    <span>{{ autoComplete.searchedUsername }}</span>
                                </mat-option>
                            </ng-container>
                        </mat-autocomplete>
                        <button (click)="searchForUser(searchForm.get('usernameInput').value)"
                            mat-raised-button>Search</button>
                    </form>
                </div>
            </div>
            <div class="col-md-8">
                <div *ngIf="user.gitRepos.length != 0" class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <ul class="list-group">
                            <a *ngFor="let repo of user.gitRepos" target="_blank" href="{{repo.html_url}}"
                                class="list-group-item d-flex justify-content-between align-items-center list-group-item-action">{{repo.name}}
                                <span class="badge badge-primary badge-pill">{{repo.full_name}}</span></a>

                        </ul>
                    </div>
                </div>
                <div *ngIf="user.gitRepos.length == 0">User has no repositories!</div>
            </div>
        </div>
    </form>
</div>

<div *ngIf="!isLoaded" class="container">
    <app-loading></app-loading>
</div>


<router-outlet></router-outlet>